body {
    font-family: 'Concert One', Kanit, sans-serif;
}

.badge {
    font-family: Kanit, sans-serif !important;
}

label.kanit {
    font-family: Kanit, sans-serif !important;
}

label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, pre, .modal-content {
    font-family: Kanit, sans-serif !important;
}

option, select, input, .dd-container {
    font-family: Kanit, sans-serif !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="number"] {
    font-family: 'Concert One', Kanit !important;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.navbar.navbar-dark.navbar-expand-lg.fixed-top.bg-white.portfolio-navbar.gradient {
  background:#8dacf1;
  /* fallback for old browsers */
background:-webkit-linear-gradient(to right, #8dacf1, #8dacf1);
  /* Chrome 10-25, Safari 5.1-6 */
background:linear-gradient(to right, #8dacf1, #8dacf1);
}

.portfolio-block.website.gradient {
  background:#8dacf1;
  /* fallback for old browsers */
background:-webkit-linear-gradient(to right, #8dacf1, #8dacf1);
  /* Chrome 10-25, Safari 5.1-6 */
background:linear-gradient(to right, #8dacf1, #8dacf1);
}

.portfolio-block.mobile-app.gradient {
  background:#8dacf1;
  /* fallback for old browsers */
background:-webkit-linear-gradient(to right, #8dacf1, #8dacf1);
  /* Chrome 10-25, Safari 5.1-6 */
background:linear-gradient(to right, #8dacf1, #8dacf1);
}

.border-2 {
    border-width:2px !important;
}